<div class="bg-image">
  <div class="container">
    <div class="back-arrow" (click)="onCancel()">
      <i class="bi bi-arrow-left"></i>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
          <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom"
                   [(ngModel)]="user.nom" #nomInput="ngModel" required>
            <div *ngIf="nomInput.invalid && (nomInput.dirty || nomInput.touched)">
              <div *ngIf="nomInput.errors?.['required']">Le nom est requis</div>
            </div>
          </div>

          <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prénom"
                   [(ngModel)]="user.prenom" #prenomInput="ngModel" required>
            <div *ngIf="prenomInput.invalid && (prenomInput.dirty || prenomInput.touched)">
              <div *ngIf="prenomInput.errors?.['required']">Le prénom est requis</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre adresse email"
                   [(ngModel)]="user.email" #emailInput="ngModel" required email>
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
              <div *ngIf="emailInput.errors?.['required']">L'email est requis</div>
              <div *ngIf="emailInput.errors?.['email']">L'email doit être valide</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe"
                   [(ngModel)]="user.password" #passwordInput="ngModel" required>
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
              <div *ngIf="passwordInput.errors?.['required']">Le mot de passe est requis</div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirmer le mot de passe :</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmez votre mot de passe"
                   [(ngModel)]="user.confirmPassword" #confirmPasswordInput="ngModel" required>
            <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
              <div *ngIf="confirmPasswordInput.errors?.['required']">La confirmation du mot de passe est requise</div>
              <div *ngIf="confirmPasswordInput.errors?.['passwordMismatch']">Les mots de passe ne correspondent pas</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign-Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
